<!DOCTYPE html>
<html>
  <head>
    <title>OTP</title>
    <meta name="viewport" content="width=device-width, initial-size=1">
    <meta name="og:title" content="One Time Password">
    <meta name="og:type" content="website">
    <meta name="og:description" content="This contains a link to view a password, as soon as you 
      click it the link will no longer work.">
    <link rel="stylesheet" type="text/css" href="/common/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>


{% block head %}{% endblock %}

  </head>
  
  <body>
  
{% block body %}{% endblock %}

{% block footer %}{% endblock %}
  
  </body>
</html>