<!DOCTYPE html>
<html class="{{template}}">
  <head>
    <title>OTP</title>
    <meta name="viewport" content="width=device-width, initial-size=1">
    <meta name="og:title" content="One Time Password">
    <meta name="og:type" content="website">
    <meta name="og:description" content="This contains a link to view a password, as soon as you 
      click it the link will no longer work.">
    <link rel="stylesheet" type="text/css" href="/common/min/?css">


{% block head %}{% endblock %}

  </head>
  
  <body>
  
{% block body %}{% endblock %}

{% block footer %}{% endblock %}
  
  <script src="/common/min/?js"></script>

  </body>
</html>