{% embed "Base.twig" %}

  {% block body %}

    <div class="content content__container">
      <div class="form">
        <input type="text" name="password">
        <input type="hidden" name="short" value="false">
        <button onclick="processForm()">Submit</button>
      </div>
      <div class="url">
        <p class="title">Your unique link:</p>
        <p id="link-value" class="value"></p>
        <button data-clipboard-target="#link-value">Copy</button>
      </div>
      <div class="copied"><p>Copied to clipboard!</div>
    </div>
  
  {% endblock %}

{% endembed %}
