{% embed "Base.twig" %}

  {% block footer %}
    <script type="text/javascript">
      function processForm() {
        const url = window.location.href;
        console.log(url);
        fetch(url, {
          method: 'POST',
          body: JSON.stringify({
            password: document.querySelector('[name="password"]').value
          }),
          headers: new Headers({
            'Content-Type': 'application/json'
          })
        }).then((response) => {
          console.log(response)
          return response.json();
        }).then((d) => {
          const l = window.location;
          const port = l.port == '' ? '' : ':' + l.port;
          const host = l.protocol + '//' + l.hostname + port;
          const url = host + d.url;
          
          document.querySelector('.url .value').innerHTML = url;
          document.querySelector('.form').style.display = 'none';
          document.querySelector('.url').style.display = 'block';
        });

      }

      new Clipboard('[data-clipboard-target]');
    </script>
  {% endblock %}

  {% block body %}

    <div class="content content__container">
      <div class="form">
        <input type="text" name="password">
        <input type="hidden" name="short" value="false">
        <button onclick="processForm()">Submit</button>
      </div>
      <div class="url">
        <p class="title">Your unique link:</p>
        <p id="link-value" class="value"></p>
        <button data-clipboard-target="#link-value">Copy</button>
      </div>
    </div>
  
  {% endblock %}

{% endembed %}
