{% embed "Base.twig" %}
  {% block body %}
    <div class="content__container">

      {% if password %}

        <div class="content__password">
          <p class="title">password:</p>
          <p id="password-value" class="password">{{password}}</p>
          <button data-clipboard-target="#password-value">Copy</button>
        </div>
        <div class="copied"><p>Copied to clipboard!</div>

      {% endif %}

    </div>
  {% endblock %}
{% endembed %}