{% embed "Base.twig" %}
  {% block body %}
    <div class="content__container">

      {% if password %}

        <div>
          <p class="title">password:</p>
          <p id="password-value" class="password">{{password}}</p>
          <button data-clipboard-target="#password-value">Copy</button>
        </div>

      {% endif %}

    </div>
  {% endblock %}

  {% block footer %}
    <script>
      new Clipboard('[data-clipboard-target]');
    </script>
  {% endblock %}

{% endembed %}